* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: url('back.panini.jpg') no-repeat;
    background-size: cover;
    font-family: 'Century Gothic', sans-serif;
}

.box {
    width: 500px;
    background: rgba(0, 0, 0, .4);
    margin: 0 auto;
    margin-top: 4%;
    padding: 20px;
    color: white;
}